// bower:scss
// endbower

@import 'mixins/transition';
@import 'mixins/animation';

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  height: 100%;

  background-color: #f7f7f7;
}

@include keyframes(slideUp) {
  from  {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ng-enter {
  z-index: 9998;
  @include animation(slideUp 0.5s ease-in-out);
}

loading-screen {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #eee;

  z-index: 999;

  overflow: hidden;

  .splash-text {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 250px;

    margin-left: -250px;
    margin-top: -125px;

    text-align: center;

    img {
      width: 80%;
    }
  }

  &[loading] {
    display: block !important;
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  md-toolbar {
    @include transition(height, 0.25s, ease-in-out);
    @include animation(fadeIn 0.5s);

    position: fixed;
  }
}

.fabs {
  position: fixed;
  right: 20px;
  top: 160px;

  z-index: 6;
}

.content-block {
  @include transition(all, 0.25s, ease-in-out);

  position: absolute;

  top: 100px;
  right: 120px;
  left: 20%;

  margin-bottom: 50px;

  /*overflow: auto;*/

  z-index: 6;
}

.content-header {
  margin-top: 0;
  margin-bottom: 60px;
}

.content {
  display: block;
  overflow: hidden;

  padding: 24px;

  background-color: #fff;

  min-height: 65%;

  h1, h2, h3 {
    color: #e51c23;
  }
}

nav {
  position: fixed;

  top: 192px;
  /*right: 80%;*/
  left: 0;
  bottom: 0;

  width: 20%;

  overflow: auto;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      /*display: inline-block;
      *display: inline; /*IE7*/
      /**zoom: 1; /*IE7*/

      margin-left: auto;
      margin-right: auto;
    }
  }
}

.menu-item {
  width: 90%;
  height: 100px;

  margin-bottom: 15px;

  md-button {
    width: 100%;
    height: 100%;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

md-dialog {
  md-content {
    padding: 24px;
    background-color: #f6f6f6 !important;
  }

  .md-actions {
    background-color: #eee;
  }
}

md-progress-circular.md-red-theme .md-inset {
  background-color: #f6f6f6 !important;
}

@media all and (max-width: 800px) {
  nav {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    width: 100%;

    ul {
      margin: 0;
    }

    li {
      float: left;
    }
  }

  .menu-item {
    padding: 4px;
    width: 50%;

    &:last-child {
      padding-left: 0;
    }
  }

  .md-tall {
    height: 64px !important;
  }

  .content {
    padding: 5px;
  }

  .content-block {
    /*position: absolute;

    top: 64px;
    left: 0;
    right: 0;
    width: 100%;*/
    top: 0;
    left: 0;
    width: 100%;

    margin-top: 64px;

    z-index: auto;

    margin-bottom: 0;
  }
}