// bower:scss
// endbower

@import 'mixins/transition';
@import 'mixins/animation';

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  height: 100%;

  background-color: #f7f7f7;
}

fieldset {
    border: 0;
}

@include keyframes(slideUp) {
  from  {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

loading-screen {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #eee;

  z-index: 999;

  overflow: hidden;

  .splash-text {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 250px;

    margin-left: -250px;
    margin-top: -125px;

    text-align: center;

    img {
      width: 80%;
    }
  }

  &[loading], &[ng-cloak] {
    display: block !important;
  }
}

md-toolbar {
  height: 192px;
  min-height: 192px;
  max-height: 192px;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  md-toolbar {
    @include transition(height, 0.25s, ease-in-out);
    @include animation(fadeIn 0.5s);

    position: fixed;
  }
}

.profile {
  height: 100%;

  img {
    height: 100%;
    float: left;
  }

  div {
    margin-left: 80px;
    height: 100%;
    line-height: 64px;
  }
}

.page-title-mobile {
  display: none;
}

.fabs {
  position: fixed;
  right: 20px;
  top: 160px;

  z-index: 6;
}

.content-block {
  @include transition(all, 0.25s, ease-in-out);

  position: absolute;

  top: 100px;
  right: 120px;
  left: 20%;

  margin-bottom: 50px;

  /*overflow: auto;*/

  z-index: 6;
}

.content-header {
  margin-top: 0;
  margin-bottom: 60px;
}

.content {
  display: block;
  overflow: hidden;

  padding: 24px;

  background-color: #fff;

  min-height: 65%;

  h1, h2, h3 {
    color: #e51c23;
  }
}

.list {
  table-layout: fixed;
  width: 100%;

  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f4f4f4 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.list-item {
  .actions {
    margin-right: 15px;

    ul {
      list-style: none;
      padding-left: 0;
      height: 32px;

      li {
        float: left;
        margin-left: 10px;
        height: 100%;

        img {
          height: 100%;
        }
    }
    }
  }
}

.vacation-list-item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 31%;
  padding-top: 4px;
  padding-bottom: 10px;

  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f4f4f4 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

  .vacation-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;
    display: block;
    width: 30%;
    background-image: url('http://www.natuurenbos.be/~/media/Images/Photo%20of%20the%20week/121119_Bos-ter-Rijst---foto-Marc-De-Vos.jpg');
    background-size: cover;
  }
}

.vacation-header-image {
    background-image: url('http://www.natuurenbos.be/~/media/Images/Photo%20of%20the%20week/121119_Bos-ter-Rijst---foto-Marc-De-Vos.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
}

.desktop-navigation nav {
  position: fixed;

  top: 192px;
  /*right: 80%;*/
  left: 0;
  bottom: 0;

  width: 20%;

  overflow: auto;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      /*display: inline-block;
      *display: inline; /*IE7*/
      /**zoom: 1; /*IE7*/

      margin-left: auto;
      margin-right: auto;
    }
  }
}

.menu-item {
  width: 90%;
  height: 100px;

  margin-bottom: 15px;

  .md-button {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;

    span {
      padding-top: 3px;
      padding-bottom: 3px;
      color: #fff;
      float: left;
      display: inline-block;
      width: 100%;
      height: 26px;
      line-height: 20px;
      text-transform: none;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

md-dialog {
  md-content {
    padding: 24px;
    background-color: #f6f6f6 !important;
  }

  .md-actions {
    background-color: #eee;
  }
}

md-progress-circular.md-red-theme .md-inset {
  background-color: #f6f6f6 !important;
}

@media all and (max-width: 800px) {
  .content-header {
    display: none;
  }

  .page-title-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop-navigation {
    display: none;
  }

  /*nav {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    width: 100%;

    ul {
      margin: 0;
    }

    li {
      float: left;
    }
  }*/

  .menu-item {
    padding: 4px;
    width: 50%;

    &:last-child {
      padding-left: 0;
    }
  }

  md-toolbar {
    height: 64px;
    min-height: 64px;
    max-height: 64px;
  }

  .content {
    padding: 5px;
  }

  .content-block {
    /*position: absolute;

    top: 64px;
    left: 0;
    right: 0;
    width: 100%;*/
    top: 0;
    left: 0;
    width: 100%;

    margin-top: 64px;

    z-index: auto;

    margin-bottom: 0;
  }
}