<md-button ui-sref="admin.user.list">Terug naar de lijst</md-button><br />

<form style="padding-left: 20px; padding-bottom: 20px;">
  <fieldset ng-disabled="editTracker.active()">
    <md-radio-group ng-model="selectedUser.type" ng-init="selectedUser.type = 'parents'">
      <md-radio-button value="parents">Ouders</md-radio-button>
      <md-radio-button value="monitor">Monitor</md-radio-button>
      <md-radio-button value="admin">Admin</md-radio-button>
    </md-radio-group>

    <md-text-float label="E-mailadres" ng-model="selectedUser.email"> </md-text-float>
    <error-message error="errors.email"> </error-message>

    <md-text-float label="Wachtwoord" ng-model="selectedUser.password"> </md-text-float>
    <error-message error="errors.password"> </error-message>
    <md-text-float label="Wachtwoord bevestigen" ng-model="selectedUser.password_confirmed"> </md-text-float>
    <error-message error="errors.password_confirmed"> </error-message>

    <div ng-show="selectedUser.type === 'parents'">

      <h3>Gegevens moeder</h3>
      <md-text-float label="Voornaam" ng-model="selectedUser.first_name_mother"> </md-text-float>
      <error-message error="errors.first_name_mother"> </error-message>
      <md-text-float label="Naam" ng-model="selectedUser.last_name_mother"> </md-text-float>
      <error-message error="errors.last_name_mother"> </error-message>
      <md-text-float label="Rijksregisternummer" ng-model="selectedUser.nrn_mother"> </md-text-float>
      <error-message error="errors.nrn_mother"> </error-message>

      <h3>Gegevens vader</h3>
      <md-text-float label="Voornaam" ng-model="selectedUser.first_name_father"> </md-text-float>
      <error-message error="errors.first_name_father"> </error-message>
      <md-text-float label="Naam" ng-model="selectedUser.last_name_father"> </md-text-float>
      <error-message error="errors.last_name_father"> </error-message>
      <md-text-float label="Rijksregisternummer" ng-model="selectedUser.nrn_father"> </md-text-float>
      <error-message error="errors.nrn_father"> </error-message>

    </div>

  <div ng-if="selectedUser.id">
    <md-button type="submit" class="md-primary" ng-click="submitEdit(selectedUser)" ng-disabled="editTracker.active()">
     Aanpassen
    </md-button>
  </div>
  <div ng-if="selectedUser.id === undefined">
    <md-button type="submit" class="md-primary" ng-click="submitNew(selectedUser, userType)" ng-disabled="editTracker.active()">
     Toevoegen
    </md-button>
  </div>
  <md-progress-circular ng-show="editTracker.active()" md-mode="indeterminate" style="background-color: #eee;"></md-progress-circular>
</form>