<div class="fabs">
    <md-button ui-sref="admin.vacation.new" class="md-fab" aria-label="Toevoegen" style="background-color: #fff;">
        <img src="images/add.svg" style="width: 100%;" />
    </md-button>
</div>

<ul>
	<li ng-repeat="vacation in vacations">
		<div class="list-item">
			{{ vacation.title }}
			<ul class="list-item-actions">
				<li><a ui-sref="admin.vacation.edit({vacationId: {{ vacation.id }} })">Bewerken</a></li>
				<li><div ng-click="deleteVacation(vacation)">Verwijderen</div></li>
			</ul>
		</div>
	</li>
</ul>