<div class="fabs">
    <md-button ui-sref="admin.vacation.new" class="md-fab" aria-label="Toevoegen" style="background-color: #fff;">
        <img src="images/add.svg" style="width: 100%;" />
    </md-button>
</div>

<md-text-float label="Zoeken" ng-model="searchText"> </md-text-float>

<table class="list md-whiteframe-z1">
	<tr>
		<th ng-click="predicate = 'title'; reverse = !reverse">Titel</th>
		<th>Acties</th>
	</tr>
	<tr ng-repeat="vacation in vacations | orderBy:predicate:reverse | filter:searchText" class="list-item">
		<td ng-bind-html="vacation.title | highlight:searchText"></td>
		<td class="actions">
			<ul>
				<li><img ui-sref="admin.vacation.edit({vacationId: {{ vacation.id }} })" src="images/edit.svg" /></li>
				<li><img ng-click="deleteVacation(vacation)" src="images/delete.svg"></li>
			</ul>
		</td>
	</tr>
</table>