<md-button ui-sref="admin.vacation.list">Terug naar de lijst</md-button><br />

<form style="padding-left: 20px; padding-bottom: 20px;">
  <fieldset ng-disabled="editTracker.active()">
    <md-text-float label="Titel" ng-model="selectedVacation.title"> </md-text-float>
    <error-message error="errors.title"> </error-message>

    <div style="position: relative; width: 100%; height: 200px; overflow: scroll-y">
      <md-radio-group ng-model="selectedVacation.category_id">
        <md-radio-button ng-repeat="category in categories" ng-value="category.id" aria-label="{{ category.name }}">
               {{ category.name }}
        </md-radio-button>
      </md-radio-group>
    </div>

    <div style="position: relative; width: 100%; height: 200px; overflow: scroll-y">
      <md-radio-group ng-model="selectedVacation.picasa_album_id">
        <md-radio-button ng-repeat="album in albums" ng-value="album.id" aria-label="{{ album.name }}">
               {{ album.name }}
        </md-radio-button>
      </md-radio-group>
    </div>

    <md-text-float multiline label="Beschrijving" ng-model="selectedVacation.description" height="200"> </md-text-float>
    <error-message error="errors.description"> </error-message>
    <md-text-float multiline label="Promotekst" ng-model="selectedVacation.promoText" height="200"> </md-text-float>
    <error-message error="errors.promoText"> </error-message>
    <md-text-float label="Locatie" ng-model="selectedVacation.location"> </md-text-float>
    <error-message error="errors.location"> </error-message>

    <quick-datepicker ng-model="selectedVacation.beginDate" placeholder="Begindatum"></quick-datepicker>
    <!-- <md-text-float label="Begindatum" ng-model="selectedVacation.beginDate" type="date" -->
    <error-message error="errors.beginDate"> </error-message>
    <quick-datepicker  ng-model="selectedVacation.endDate" placeholder="Einddatum"></quick-datepicker>
    <error-message error="errors.endDate"> </error-message>

  	<md-text-float label="Leeftijd van" ng-model="selectedVacation.ageFrom"> </md-text-float>
    <error-message error="errors.ageFrom"> </error-message>
  	<md-text-float label="Leeftijd tot" ng-model="selectedVacation.ageTo"> </md-text-float>
    <error-message error="errors.ageTo"> </error-message>
  	<md-text-float label="Transport" ng-model="selectedVacation.transportation"> </md-text-float>
    <error-message error="errors.transportation"> </error-message>
  	<md-text-float label="Maximaal aantal deelnemers" ng-model="selectedVacation.maxParticipants"> </md-text-float>
    <error-message error="errors.maxParticipants"> </error-message>
  	<md-text-float label="Basisprijs" ng-model="selectedVacation.baseCost"> </md-text-float>
    <error-message error="errors.baseCost"> </error-message>
  	<md-text-float label="Kostprijs één BM-lid" ng-model="selectedVacation.oneBmMemberCost"> </md-text-float>
    <error-message error="errors.oneBmMemberCost"> </error-message>
  	<md-text-float label="Kostprijs twee BM-leden" ng-model="selectedVacation.twoBmMemberCost"> </md-text-float>
    <error-message error="errors.twoBmMemberCost"> </error-message>
  	<md-switch ng-model="selectedVacation.taxDeductable" md-aria-label="BTW-aftrekbaar" ng-init="selectedVacation.taxDeductable = 0" ng-true-value="1" ng-false-value="0">
      BTW-aftrekbaar
    </md-switch>
    <error-message error="errors.taxDeductable"> </error-message>
  </fieldset>

  <div ng-show="selectedVacation.id">
    <md-button type="submit" class="md-primary" ng-click="submitEdit(selectedVacation)" ng-disabled="editTracker.active()">
     Aanpassen
    </md-button>
  </div>
  <div ng-show="selectedVacation.id === undefined">
    <md-button type="submit" class="md-primary" ng-click="submitNew(selectedVacation)" ng-disabled="editTracker.active()">
     Toevoegen
    </md-button>
  </div>
  <md-progress-circular ng-show="editTracker.active()" mode="indeterminate" style="background-color: #eee;"></md-progress-circular>
</form>