<div class="fabs">
    <md-button ui-sref="admin.vacation.new" class="md-fab" aria-label="Toevoegen" style="background-color: #fff;">
        <img src="images/add.svg" style="width: 100%;" />
    </md-button>
</div>

<md-list>
	<md-item ng-repeat="vacation in vacations">
		<div class="list-item md-whiteframe-z1">
			<h3>{{ vacation.title }}</h3>
			<ul class="actions">
				<li><img ui-sref="admin.vacation.edit({vacationId: {{ vacation.id }} })" src="images/edit.svg" /></li>
				<li><img ng-click="deleteVacation(vacation)" src="images/delete.svg"></li>
			</ul>
		</div>
	</md-item>
</md-list>