<form style="padding-left: 20px; padding-bottom: 20px;">
  <fieldset ng-disabled="editTracker.active()">
    <md-text-float label="Titel" ng-model="selectedVacation.title"> </md-text-float>
    <div ng-show="errors.title" style="margin-top: -6px; height: 20px; width: 100%; position: relative; color: rgba(0, 0, 0, 0.4);">
      <img src="images/fout.svg" style="opacity: 0.4; position: absolute; left: 2px; top: 2px;" />
      <span style="font-size: 0.75em; margin-left: 20px;">{{ errors.title }}</span>
    </div>

    <md-text-float multiline label="Beschrijving" ng-model="selectedVacation.description" height="200"> </md-text-float>
    <md-text-float multiline label="Promotekst" ng-model="selectedVacation.promoText" height="200"> </md-text-float>
    <md-text-float label="Locatie" ng-model="selectedVacation.location"> </md-text-float>

    <quick-datepicker init-value="selectedVacation.beginDate" ng-model="selectedVacation.beginDate" date-format="dd-MM-yyyy" required="true" placeholder="Begindatum"></quick-datepicker>
    <quick-datepicker init-value="selectedVacation.endDate" ng-model="selectedVacation.endDate" date-format="dd-MM-yyyy" required="true" placeholder="Einddatum"></quick-datepicker>

  	<md-text-float label="Leeftijd van" ng-model="selectedVacation.ageFrom"> </md-text-float>
  	<md-text-float label="Leeftijd tot" ng-model="selectedVacation.ageTo"> </md-text-float>
  	<md-text-float label="Transport" ng-model="selectedVacation.transportation"> </md-text-float>
  	<md-text-float label="Maximaal aantal deelnemers" ng-model="selectedVacation.maxParticipants"> </md-text-float>
  	<md-text-float label="Basisprijs" ng-model="selectedVacation.baseCost"> </md-text-float>
  	<md-text-float label="Kostprijs één BM-lid" ng-model="selectedVacation.oneBmMemberCost"> </md-text-float>
  	<md-text-float label="Kostprijs twee BM-leden" ng-model="selectedVacation.twoBmMemberCost"> </md-text-float>
  	<md-switch ng-model="selectedVacation.taxDeductable" aria-label="BTW-aftrekbaar" ng-init="selectedVacation.taxDeductable = 0" ng-true-value="1" ng-false-value="0">
      BTW-aftrekbaar
    </md-switch>
  </fieldset>

  <div ng-if="selectedVacation.id">
    <md-button type="submit" class="md-primary" ng-click="submitEdit(selectedVacation)" ng-disabled="editTracker.active()">
     Aanpassen
    </md-button>
  </div>
  <div ng-if="selectedVacation.id === undefined">
    <md-button type="submit" class="md-primary" ng-click="submitNew(selectedVacation)" ng-disabled="editTracker.active()">
     Toevoegen
    </md-button>
  </div>
  <md-progress-circular ng-show="editTracker.active()" mode="indeterminate" style="background-color: #eee;"></md-progress-circular>
</form>