<md-button ui-sref="admin.vacation.list">Terug naar de lijst</md-button><br />

<form style="padding-left: 20px; padding-bottom: 20px;">
  <fieldset ng-disabled="editTracker.active()">
    <md-text-float label="Titel" ng-model="selectedVacation.title"> </md-text-float>
    <error-message error="errors.title"> </error-message>

    <div style="position: relative; width: 100%; height: 200px; overflow: scroll-y">
      <md-radio-group ng-model="selectedVacation.category_id">
        <md-radio-button ng-repeat="category in categories" ng-value="category.id" aria-label="{{ category.name }}">
               {{ category.name }}
        </md-radio-button>
      </md-radio-group>
    </div>

    <div style="position: relative; width: 100%; height: 200px; overflow: scroll-y">
      <md-radio-group ng-model="selectedVacation.picasa_album_id">
        <md-radio-button ng-repeat="album in albums" ng-value="album.id" aria-label="{{ album.name }}">
               {{ album.name }}
        </md-radio-button>
      </md-radio-group>
    </div>

    <md-text-float multiline label="Beschrijving" ng-model="selectedVacation.description" height="200"> </md-text-float>
    <error-message error="errors.description"> </error-message>
    <md-text-float multiline label="Promotekst" ng-model="selectedVacation.promo_text" height="200"> </md-text-float>
    <error-message error="errors.promo_text"> </error-message>
    <md-text-float label="Locatie" ng-model="selectedVacation.location"> </md-text-float>
    <error-message error="errors.location"> </error-message>

    <input type="datetime" date-time ng-model="selectedVacation.begin_date_d" view="date">
    <!-- <div date-picker="selectedVacation.begin_date_d" view="date"></div> -->
    <error-message error="errors.begin_date"> </error-message>
    <input type="datetime" date-time ng-model="selectedVacation.end_date_d" view="date">
    <!-- <div date-picker="selectedVacation.end_date_d" view="date"></div> -->
    <error-message error="errors.end_date"> </error-message>

  	<md-text-float label="Leeftijd van" ng-model="selectedVacation.age_from"> </md-text-float>
    <error-message error="errors.age_from"> </error-message>
  	<md-text-float label="Leeftijd tot" ng-model="selectedVacation.age_to"> </md-text-float>
    <error-message error="errors.age_to"> </error-message>
  	<md-text-float label="Transport" ng-model="selectedVacation.transportation"> </md-text-float>
    <error-message error="errors.transportation"> </error-message>
  	<md-text-float label="Maximaal aantal deelnemers" ng-model="selectedVacation.max_participants"> </md-text-float>

    <p>Huidig aantal deelnemers: {{ selectedVacation.current_participants }}</p>

    <error-message error="errors.max_participants"> </error-message>
  	<md-text-float label="Basisprijs" ng-model="selectedVacation.base_cost"> </md-text-float>
    <error-message error="errors.base_cost"> </error-message>
  	<md-text-float label="Kostprijs één BM-lid" ng-model="selectedVacation.one_bm_member_cost"> </md-text-float>
    <error-message error="errors.one_bm_member_cost"> </error-message>
  	<md-text-float label="Kostprijs twee BM-leden" ng-model="selectedVacation.two_bm_member_cost"> </md-text-float>
    <error-message error="errors.two_bm_member_cost"> </error-message>
  	<md-switch ng-model="selectedVacation.tax_deductable" md-aria-label="BTW-aftrekbaar" ng-init="selectedVacation.tax_deductable = 0" ng-true-value="1" ng-false-value="0">
      BTW-aftrekbaar
    </md-switch>
    <error-message error="errors.tax_deductable"> </error-message>
  </fieldset>

  <div ng-show="selectedVacation.id">
    <md-button type="submit" class="md-primary" ng-click="submitEdit(selectedVacation)" ng-disabled="editTracker.active()">
     Aanpassen
    </md-button>
  </div>
  <div ng-show="selectedVacation.id === undefined">
    <md-button type="submit" class="md-primary" ng-click="submitNew(selectedVacation)" ng-disabled="editTracker.active()">
     Toevoegen
    </md-button>
  </div>
  <md-progress-circular ng-show="editTracker.active()" mode="indeterminate" style="background-color: #eee;"></md-progress-circular>
</form>