<div class="content" ng-class="{ 'md-whiteframe-z1': !isMobile }">
    <h2 class="content-header">{{ pageTitle }}</h2>
  <form style="padding-left: 20px; padding-bottom: 20px;">
    <fieldset ng-disabled="editTracker.active()">
      <md-text-float label="Voornaam" ng-model="selectedChild.first_name"> </md-text-float>
      <error-message error="errors.first_name"> </error-message>
      <md-text-float label="Naam" ng-model="selectedChild.last_name"> </md-text-float>
      <error-message error="errors.last_name"> </error-message>
      <md-text-float label="Rijksregisternummer" ng-model="selectedChild.nrn"> </md-text-float>
      <error-message error="errors.nrn"> </error-message>

      <div date-picker="selectedChild.date_of_birth_d" view="date"></div>
      <error-message error="errors.date_of_birth"> </error-message>

      <md-text-float label="Straat" ng-model="selectedChild.address.street_name"> </md-text-float>
      <error-message error="errors.street_name"> </error-message>

      <md-text-float label="Huisnummer" ng-model="selectedChild.address.house_number"> </md-text-float>
      <error-message error="errors.house_number"> </error-message>

      <md-text-float label="Postcode" ng-model="selectedChild.address.postal_code"> </md-text-float>
      <error-message error="errors.postal_code"> </error-message>

      <md-text-float label="Gemeente" ng-model="selectedChild.address.city"> </md-text-float>
      <error-message error="errors.city"> </error-message>
    </fieldset>

    <div ng-show="selectedChild.id">
      <md-button type="submit" class="md-primary" ng-click="submitEdit(selectedChild)" ng-disabled="editTracker.active()">
       Aanpassen
      </md-button>
    </div>
    <div ng-show="selectedChild.id === undefined">
      <md-button type="submit" class="md-primary" ng-click="submitNew(selectedChild)" ng-disabled="editTracker.active()">
       Toevoegen
      </md-button>
    </div>
    <md-progress-circular ng-show="editTracker.active()" md-mode="indeterminate" style="background-color: #eee;"></md-progress-circular>
  </form>
</div>