<div ng-if="user.children">
	<md-radio-group ng-model="registration.selectedChild">
		<md-radio-button ng-repeat="child in user.children" value="{{ child.id }}" aria-label="{{ child.firstName }} {{ child.lastName }}">{{ child.firstName }} {{ child.lastName }}</md-radio-button>
	</md-radio-group>

	<md-button ui-sref="vacations.register.register-information">
		Kind selecteren
	</md-button>
</div>

<div ng-if="!user.children">
	Je hebt nog geen kinderen toegevoegd.<br />

	<md-button ui-sref="profile.add-child">Kind toevoegen</md-button>
</div>