<md-dialog aria-label="Inloggen" md-theme="red">
  <md-content>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99;"
      ng-show="loginTracker.active()">
      <md-progress-circular md-mode="indeterminate" style="background-color: #eee; margin: auto; position: relative; top: 50%;"></md-progress-circular>
    </div>

    <form style="padding: 20px;" ng-submit="submit()">
      <fieldset ng-disabled="loginTracker.active()">
        <md-text-float label="E-mailadres" ng-model="loginModel.email"> </md-text-float>
        <md-text-float label="Wachtwoord" ng-model="loginModel.password" type="password"> </md-text-float>
      </fieldset>
      
      <error-message error="errors.login"> </error-message>
    </form>
  </md-content>
  <div class="md-actions" layout="horizontal" layout-align="end">
    <md-button ng-click="cancel()">
      Annuleren
    </md-button>
    <md-button class="md-primary" ng-click="submit()" ng-disabled="loginTracker.active()">
      Inloggen
    </md-button>
  </div>
</md-dialog>