<nav>
    <ul>
        <li class="menu-item">
            <md-button ui-sref="news" ng-class="{ 'md-raised': !isMobile }" aria-label="Nieuwsoverzicht" style="background-color: #62b9cd;">
                <img src="images/nieuws.svg" style="height: 100%;" />
                <span>Nieuwsoverzicht</span>
            </md-button>
        </li>

        <li class="menu-item">
            <md-button ui-sref="vacations" ng-class="{ 'md-raised': !isMobile }" aria-label="Vakanties" style="background-color: #dacc8f;">
               <img src="images/vakanties.svg" style="height: 100%;" />
               <span>Vakanties</span>
            </md-button>
        </li>

        <li class="menu-item">
            <md-button ng-class="{ 'md-raised': !isMobile }" aria-label="Foto's" style="background-color: #96daa6;">
                <img src="images/fotos.svg" style="height: 100%;" />
                <span>Foto's</span>
            </md-button>
        </li>
    </ul>
</nav>