<div class="content">
	<h2 class="content-header">Registreren</h2>

  {{ message }}

  <form style="padding-left: 20px; padding-bottom: 20px;">
    <h3>Account gegevens</h3>
    <fieldset ng-disabled="registerTracker.active()">
      <md-text-float label="E-mailadres" ng-model="registerModel.email"> </md-text-float>
      <div ng-show="errors.email" style="margin-top: -6px; height: 20px; width: 100%; position: relative; color: rgba(0, 0, 0, 0.4);">
        <img src="images/fout.svg" style="opacity: 0.4; position: absolute; left: 2px; top: 2px;" />
        <span style="font-size: 0.75em; margin-left: 20px;">{{ errors.email }}</span>
      </div>
      <md-text-float label="Wachtwoord" ng-model="registerModel.password" type="password"> </md-text-float>
      <md-text-float label="Wachtwoord bevestigen" ng-model="registerModel.password_confirmation" type="password"> </md-text-float>

    <md-text-float label="Telefoonnummer" ng-model="registerModel.phone_number"> </md-text-float>
    </fieldset>

    <fieldset ng-disabled="registerTracker.active()">
      <h3>Gegevens moeder</h3>
      <md-text-float label="Voornaam" ng-model="registerModel.first_name_mother"> </md-text-float>
      <md-text-float label="Naam" ng-model="registerModel.last_name_mother"> </md-text-float>
      <md-text-float label="Rijksregisternummer" ng-model="registerModel.nrn_mother"> </md-text-float>
    </fieldset>

    <h3>Gegevens vader</h3>
    <fieldset ng-disabled="registerTracker.active()">
      <md-text-float label="Voornaam" ng-model="registerModel.first_name_father"> </md-text-float>
      <md-text-float label="Naam" ng-model="registerModel.last_name_father"> </md-text-float>
      <md-text-float label="Rijksregisternummer" ng-model="registerModel.nrn_father"> </md-text-float>
    </fieldset>

    <md-button type="submit" class="md-primary" ng-click="submit()" ng-disabled="registerTracker.active()">
      Registreren
    </md-button>
  </form>
  <md-progress-circular ng-show="registerTracker.active()" mode="indeterminate" style="background-color: #eee;"></md-progress-circular>
</div>