<div class="content" ng-class="{ 'md-whiteframe-z1': !isMobile }">
    <h2 class="content-header">{{ pageTitle }}</h2>
	<div class="vacation-header-image"></div>
	<md-button class="md-raised" ui-sref="vacations.photos({vacationId: selectedVacation.id})">Bekijk de foto's</md-button>

	<p> {{selectedVacation.promo_text}} </p>

	<h3>Waar ?</h3>
	<p> {{selectedVacation.location}} </p>
	<h3> Doelgroep</h3>
	<p>Tussen de leeftijden van  {{ selectedVacation.age_from }} en {{ selectedVacation.age_to }}</p>
	<h3> Vervoer</h3>
	<p> {{ selectedVacation.transportation }}</p>
	<h3> Maximum aantal deelnemers </h3>
	<p> {{selectedVacation.max_participants}} personen </p>
	<h3> Prijs </h3>
	<p> Basisprijs : {{selectedVacation.baseCost | currency}}</p>
	<p> JOETZ-sterprijs : <ul> <li> 1 ouder lid van Bond Moyson West-Vlaanderen: {{selectedVacation.one_bm_member_cost| currency}} (JOETZ-korting {{selectedVacation.base_cost-selectedVacation.one_bm_member_cost | currency}})</li>
	    <li> 2 ouders lid van Bond Moyson West-Vlaanderen: {{selectedVacation.two_bm_member_cost| currency}}(JOETZ-korting {{selectedVacation.base_cost-selectedVacation.two_bm_member_cost | currency}})</li>
	</ul> 
	</p>   
	<h3> Tijdstip </h3>
	<p>  Vertrek: {{selectedVacation.begin_date | asDate |date: 'fullDate'}}</p>
	<p> Terug : {{selectedVacation.end_date | asDate |date: 'fullDate'}}</p>

	<h3>BTW-aftrekbaar</h3>
	<img ng-hide="selectedVacation.tax_deductable" src="images/checkmark0.png" />
	<img ng-show="selectedVacation.tax_deductable" src="images/checkmark1.png" />

	<p> {{selectedVacation.description}}</p>

	<div ng-if="user.isAuth">
		<md-button class="md-raised" ui-sref="vacations.register.child-selection({vacationId: selectedVacation.id })">Inschrijven</md-button>
	</div>
	<div ng-if="!user.isAuth">
		Registreer je om je in te schrijven.
	</div>
</div>