<div class="content">
    <h2 class="content-header">{{ selectedVacation.title }}</h2>

            <p> {{selectedVacation.promoText}} </p>
            
            <h3>Waar ?</h3>
            <p> {{selectedVacation.location}} </p>
            <h3> Doelgroep</h3>
            <p>Tussen de leeftijden van  {{ selectedVacation.ageFrom }} en {{ selectedVacation.ageTo }}</p>
            <h3> Vervoer</h3>
            <p> {{ selectedVacation.transportation }}</p>
            <h3> Maximum aantal deelnemers </h3>
            <p> {{selectedVacation.maxParticipants}} personen </p>
            <h3> Prijs </h3>
            <p> Basisprijs : {{selectedVacation.baseCost | currency}}</p>
            <p> JOETZ-sterprijs : <ul> <li> 1 ouder lid van Bond Moyson West-Vlaanderen: {{selectedVacation.oneBmMemberCost| currency}} (JOETZ-korting {{selectedVacation.baseCost-selectedVacation.oneBmMemberCost | currency}})</li>
                <li> 2 ouders lid van Bond Moyson West-Vlaanderen: {{selectedVacation.twoBmMemberCost| currency}}(JOETZ-korting {{selectedVacation.baseCost-selectedVacation.twoBmMemberCost | currency}})</li>
            </ul> 
            </p>   
            <h3> Tijdstip </h3>
            <p>  Vertrek: {{selectedVacation.beginDate | asDate |date: 'fullDate'}}</p>
            <p> Terug : {{selectedVacation.endDate | asDate |date: 'fullDate'}}</p>

            <h3>BTW-aftrekbaar</h3>
            <img src="images/checkmark{{selectedVacation.taxDeductable}}.png"/>
 
            <p> {{selectedVacation.description}}</p>

             <md-button disabled class="md-raised md-primary">Inschrijven</md-button>
    
</div>