<div class="content">
    <h2 class="content-header">Vakantieoverzicht</h2>
    <md-list>
        <md-item ng-repeat="vacation in vacations">
            <h3>{{ vacation.title }}</h3>
            <p>{{ vacation.description }}</p>
            <p>Leeftijd : {{ vacation.ageFrom }} -  {{ vacation.ageTo }}</p>
            <p>Vervoer : {{ vacation.transportation }}</p>

            <md-button class="btn" ng-click="getVacationDetail(vacation.id)">
          		Meer info
        	</md-button>
        </md-item>

    </md-list>
</div>