<div class="content">
    <h2 class="content-header">Vakantieoverzicht</h2>
    <md-list>
        <md-item ng-repeat="vacation in vacations">
            <h3>{{ vacation.title }}</h3>
            <p> {{vacation.promoText}}</p>
            <p>Leeftijd : {{ vacation.ageFrom }} -  {{ vacation.ageTo }}</p>
            <p>Vervoer : {{ vacation.transportation }}</p>
            <p> Vertrek: {{vacation.beginDate}}</p>
            <p> Terug : {{vacation.endDate }}</p>

                <md-button><a ui-sref="vacationDetail({vacationId: {{ vacation.id }} })">Meer info</a></md-button>
            
        </md-item>

    </md-list>
</div>